.container {
    width: 60%;
    margin: 0 auto;
}
.list {
    background-color: lightgray;
    border: 1px solid black;
}
.list h1 {
    text-align: center;
}
.list a {
    text-decoration: none;
    color: black;
}